.idea
build
out
*.iml
*.deb
Gemfile.lock
.gradle
.generators
vendor/
.rakeTasks
legacy/lib/
.deps/
*.o
*.swp
/lib/
legacy/passwordstore/libpasswordstore.so
packages/xroad-jetty9/jetty9/
passwordstore/libpasswordstore.so
packages/xroad-jetty9/jetty-distribution-*/
proxy-ui/log/
packages/*.changes
proxy-ui/public/javascripts/translations.js
proxy/log/
*.rpm
.vagrant/

